// key colors
$light: rgb(253, 252, 243);
$dark-orange: #1b130a;
$middle-orange: #291d0f;

// colors for cocktail
$red: #EE5F5B; // key color for button
$orange: #F39237;
$yellow: #F9C80E;
$green: #44AF69;
$blue: #2B9EB3;

// gray scale
$dark-gray: #5a5a5a;
$gray: #000000;
$light-gray: #777777;
$very-light-gray: #F4F4F4;
