<% @cocktails.each do |cocktail| %>
    <% path = cocktail.image_path.file ? cocktail.image_path : Cocktail::SAMPLE_IMAGE.sample %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card">
            <div class="card-cocktail-pic"">
                <%= cl_image_tag(path, width: 250, height: 250, crop: "fill", class: "img-circle" ) %>
            </div>
            <div class="card-cocktail-footer">
                <h3><%= cocktail.name %></h3>
            </div>
        </div>
      <% end %>
    </div>
<% end %>
