<% content_for :title do %>
  <h1>Cocktail List</h1>
<% end %>
<% content_for :url do %>
  'https://images.unsplash.com/photo-1514361659284-59851c90d011?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b19003e0c4450d5a06aefcd04e6a2173&auto=format&fit=crop&w=800&q=60'
<% end %>

<%= render 'layouts/banner' %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card">
            <div class="card-cocktail-pic">

            </div>
            <div class="card-cocktail-footer">
              <h3><%= cocktail.name %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to cocktails_path do %>
    <i class="fab fa-facebook-f"></i>
  <% end %>
