<% content_for :title do %>
  <h1>Cocktail List</h1>
<% end %>


<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="card">
            <div class="card-cocktail-pic">

            </div>
            <div class="card-cocktail-footer">
              <h3><%= cocktail.name %></h3>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to cocktails_path do %>
    <i class="fab fa-facebook-f"></i>
  <% end %>
