<!-- arrange data for rendering pages -->
<% content_for :header do %>
  <h2>Find your favorite MAGIC</h2>
  <%= render 'index_search_form' %>
<% end %>
<% content_for :title do %>
  <h1>Cocktail List</h1>
<% end %>
<% content_for :url do %>
  'https://images.unsplash.com/photo-1536510648730-1dd9ea3768ea?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=35f6ac88ddf7d1b936fbcd8dd15611a0&auto=format&fit=crop&w=800&q=60'
<% end %>

<!-- layout -->

<%= render 'layouts/banner' %>

<div class="container" id="index-body">
  <div class="row">
    <%= render 'index_card' %>
  </div>
</div>
