#logo {
  font-family: $logo-font;
  font-size: 28px;
  border: 0.5px solid $light;
  border-radius: 3px;
  color: $light;
  padding: 5px 20px;
  letter-spacing: 3px;
  box-shadow: 1px 1px 2px $light;
  text-shadow: 1px 1px 2px $light;
  &:hover {
    box-shadow: none;
    text-shadow: none;
  }
}

.navbar-center {
}

h4.navbar-center-title  {
  font-family: $logo-font;
  font-size: 18px;
  color: $light;
  letter-spacing: 3px;
  text-shadow: 1px 1px 2px $light;
}

.navbar-logo-icon {
  text-align: center;
  p {
    font-size: 9px;
    margin: 0;
  }
}


.navbar-new-icon {
  text-align: center;
  p {
    font-size: 9px;
    margin: 0;
  }
}
