// table general things
table {
  margin-bottom: 50px;
}

.underline {
  border-bottom: 1px solid $light;
}


td {
  padding: 5px 10px;
  .empty {
    width: 5px;
  }
}

// header above the table
.table-header {
  display: flex;
}

.table-cocktail-name h3{
  margin: 0;
}

.table-cocktail-color {
  width: 10px;
  height: 35px;
  margin-right: 10px;
}


// colors
.cocktail-clear {
  border: 1px solid $light;
  box-shadow: 0 0 10px $light;
}

.cocktail-white {
  background-color: $light-gray;
  box-shadow: 0 0 10px $light-gray;
}

.cocktail-red {
  background-color: $red;
  box-shadow: 0 0 10px $red;
}

.cocktail-orange {
  background-color: $orange;
  box-shadow: 0 0 10px $orange;
}

.cocktail-yellow {
  background-color: $yellow;
  box-shadow: 0 0 10px $yellow;
}

.cocktail-green {
  background-color: $green;
  box-shadow: 0 0 10px $green;
}

.cocktail-blue {
  background-color: $blue;
  box-shadow: 0 0 10px $blue;
}
