<div class="reviews">
  <% @cocktail.reviews.reverse.each do |review| %>
    <div class="review">
      <div class='review-star'>
        <div class='review-count'>
          <% review.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <% (5 - review.rating).times do %>
            <i class="far fa-star"></i>
          <% end %>
        </div>
      </div>
      <div class='review-body'>
        <p class='review-post-content'><%= review.content %></p>
        <p class='review-post-time'><%= review.created_at %></p>
      </div>
    </div>
  <% end %>
</div>

